@media only screen and (max-width: 768px){


.open nav {
  top: 0;
}
.open nav:before {
  animation: menu-animation 0.8s ease-out forwards;
}
ul.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(-50%, -50%, 0);
  color: white;
}
ul.menu li {
  opacity: 0;
  text-align: center;
  transform: translate3d(0, 36px, 0);
}
ul.menu li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: white;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.14s ease-out;
}
ul.menu li:after {
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #98b296;
  overflow: hidden;
  transform: translate(-24px, 6px);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
ul.menu li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}
ul.menu li:hover:after {
  opacity: 1;
  padding: 0 20px;
  transform: translate(0px, 6px);
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
}
.open ul.menu li {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
  transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2) {
  transition-delay: 0.85s;
}
.open ul.menu li:nth-child(3) {
  transition-delay: 0.95s;
}
.open ul.menu li:nth-child(4) {
  transition-delay: 1.05s;
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
 }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
 }
  40% {
    transform: scale(0.04) translateY(0);
 }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
 }
  61% {
    transform: scale(0.04);
 }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
 }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
 }
}
}