@mixin button {
    height: 60px;
    width: 130px;
    color: #fff;
    text-align: center;
    background-color: #5023b0;
    border: none;
    font-size: 16px;
    margin: 50px;
    padding: 20px;
    align-items: center;
}
